  /* CSS layout */

:root {
	--color-light-brown: #F5CCA0;
	--color-brown: #994D1C;
	--color-dark-brown: #6B240C;
	--color-link-menu: #fee1b9;
	--text-color: black;
	--main-color: var(--color-light-brown);
	--main-border-color: var(--color-brown);
	--main-color-light: #fee1b9;
}

body {
	margin: 0;
	padding: 0;
	background-color:#B7C5D2;
	color: var(--text-color);
}

a {
	text-decoration:none;
	font-weight: bold;
	color: var(--color-dark-brown);
}
div {
	position:static;
	border: none;
	float:none;
}

#masthead {
width:900px;
height:160px;
background-color:silver;
float: inherit;
background-size: cover;
background-repeat: no-repeat;
}

#top_nav {
padding: 2px 2px 2px 2px;
float:none;
width:896px;
height:27px;
background-color: var(--main-border-color);
}

#top_nav_box {
padding: 2px;
float:none;
width:892px;
height:23px;

background-color: var(--main-color);
}


#container {
	float:none;
	display: flex;
	width: 900px;
	background-color:var(--main-color);
}

#left_col {
	float:left;
	margin:0px;
	padding: 0px;
	width: 180px;
	flex-grow: 1;
	background-color:var(--main-color);
}

#right_col {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 180px;
	background-color:var(--main-color);
}

#page_content {
	float:left;
	margin:0px;
	width: 520px;
	min-height:500px;
	background-color: var(--main-color);
	padding:10px;
}

#footer {
	float:none;
	padding: 2px;
	width:896px;	
	height:23px;
	background-color:#D3D9DA;
}

.footer_box {
padding: 2px;
float:none;
width:892px;
height:23px;
background-color:#CCCCFF;
}


.link_nav {
float:left;
padding:3px 2px 0px 2px;
height: 20px;
margin: 0px 5px;
background-color: var(--color-link-menu);
border-radius: 20px;
}

.link {
padding-left:10px;
height:20px;
margin-bottom:2px;
}

.link_selected {
padding-left:8px;
height:20px;
margin-bottom:2px;
font-size:1.2em;
font-weight:600;

}


.sub_link {
padding-left:20px;
height:20px;
font-size:0.9em;
margin-bottom:2px;
}

.sub_sub_link {
padding-left:30px;
height:20px;
font-size:0.8em;
margin-bottom:2px;
}


.module_title {
font-weight:bold;
font-size:medium;
padding-left:20px;
height:20px;
margin-left: 20px;
margin-top: 15px;
margin-bottom: 15px;
background-color: var(--main-color);

}

.module_content > *{
	background-color: var(--color-link-menu);
	border-radius: 20px;
}

.link_foot {
float:left;
padding:0 5 0 5;
height: 20px;
margin-left:5px;
}
.path {
	padding: 3px 3px 0px 1px;
	width:200px;
	height:20px;
	float:left;
	font-size:0.8em;
}

div.article_title {
	font: italic normal 1.4em georgia, sans-serif;
	padding-bottom: 4px;
	letter-spacing: 1px; 
	margin-bottom: 0; 
		
	border-bottom-style: solid;
	border-bottom-width: thin; 
}

div.article_summary {
	padding: 8px;
	color:black;	
	border-bottom-style:solid;
	border-bottom-width:1px;
}

div.article_summary div {
font: italic normal 1.2em georgia, sans-serif;
color: black;	
padding:  5px 10px 6px 15px;
}

div.article_content {
	margin: 10px;
	
}

p.p1 {
font: italic normal 1.1em georgia, sans-serif;
padding:  5px 10px 6px 15px;
}

p.p2 {
font: normal 0.9em georgia, sans-serif;
padding:  5px 10px 6px 15px;	
}

p.p3 {
	
	
}

.header {
	font: bold 1.1em georgia, sans-serif;
	padding:  5px 10px 6px 15px;	
}

.czysc{
	clear:both;
	width: 0px;
	height:0px;	
}
